@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), url("");
}


@font-face {
	font-family: "Sofia Sans Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("fonts/SofiaSansCondensed-Italic-VariableFont_wght.ttf"), url("");
}

:root {
	--resizer: 1440;
  }

.basis__header {
	flex-basis: 87%;
}

.flexible {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 55%;
}

.hoverable:hover {
	opacity: 0.7;
}

footer {
	background-color: #f0efe4;
	padding: 20px 0;
	text-align: center;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
  
  .footer-logo img {
	width: 100px; /* Регулируйте размер логотипа по вашему усмотрению */
  }
  
  .footer-content {
	text-align: left;
  }
  
  .footer-brands {
	list-style: none;
	padding: 0;
  }
  
  .footer-brands li {
	margin: 5px 0;
  }
  
  .footer-design a {
	text-decoration: none;
	color: #000; /* Цвет текста */
  }
  
  .footer-design a:hover {
	color: #007BFF; /* Цвет текста при наведении */
  }
  .slides__block{
	height: 90%;
	width: 200px;
    background-color: #fff;
    border: calc(1vw / var(--resizer)* 100) solid #ccc;
    border-radius: calc(10vw / var(--resizer)* 100);
    box-shadow: 0 calc(2vw / var(--resizer)* 100) calc(5vw / var(--resizer)* 100) rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
	align-items: center;
	display: flex;
  }
  .slides__img{
    padding: calc(10vw / var(--resizer)* 100);
	text-align: center;
  }

  .slides__img img {
	width: 100%
  }
  .slides__text{
    padding: calc(4vw / var(--resizer)* 100);
    text-align: center;
}
  
  .swiper-wrapper {
    display: flex;


}

.swiper {
	padding: calc(10vw / var(--resizer)* 100);
	height: calc(200vw / var(--resizer)* 100);
	width: calc(514vw / var(--resizer)* 100);
    border-radius: calc(8vw / var(--resizer)* 100);
    margin: 0 auto;
    justify-content: space-between;
}




@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
  .swiper-slide {
	display: flex;
    text-decoration: none;
    color: inherit;
  }



.pict-container {
    border: 3px solid green;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    margin-right: 20px; /* Регулируйте отступ справа по вашему усмотрению */
}



.text-container {
    display: inline-block;
    max-width: 85%; /* Регулируйте максимальную ширину текстового блока по вашему усмотрению */
	margin-top: 5px;
}

.prod1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Регулируйте отступ снизу по вашему усмотрению */
}



.cont:nth-child(1) {
	padding-top: 10px;
}

.specstyle {
	background: whitesmoke;
    border: 1px solid black;
    padding: 10% 5px;
}

header {
	background-color: aliceblue;
	z-index: 10000000000000;
}






#bigtext {
  background-image: url("img/truck.png");
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: center;
    background-repeat: no-repeat;
}

.bigtext {
	display: flex;
    flex-wrap: wrap;

  color: white;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
	background-color: #D4F1D6;
	font-family: "Open Sans";
}

.ftrright a:hover {
	color: red;
}

.aboutus {
	display: flex;
	flex-wrap: wrap;
}


.submi {
    width: 100%;
    border: none;
    background-color:rgb(36 201 91);
    color: #fff;
    display: block;
    height: 50px;
    line-height: 51px;
    font-size: 18px;
    font-weight: 900;
    padding: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
  }

  .submi:hover {
    background-color: #716d6e;
}


.aboutus h1 {
	color: #4a7927;
}

*{margin: 0px;
padding: 0px;}


a {

	text-decoration: none; 
	color: #000;
	transition: 0.5s;
}

div .boxter > a:nth-child(1) .box {
	animation: lg 800ms linear 400ms both;
}

div .boxter > a:nth-child(2) .box {
	animation: lg 800ms linear 500ms both;
}

div .boxter > a:nth-child(3) .box {
	animation: lg 800ms linear 600ms both;
}

div .boxter > a:nth-child(4) .box {
	animation: lg 800ms linear 700ms both;
}


.specimg:nth-child(1) {
	animation: anmo 1000ms linear 400ms both;
}
.specimg:nth-child(2) {
	animation: anmo 1000ms linear 500ms both;
}
.specimg:nth-child(3) {
	animation: anmo 1000ms linear 600ms both;
}








@keyframes anmo {

0% {filter: opacity(0%);}
100%{filter: opacity(100%);} 		

}


.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  background-image: url("img/logo.png");
  top: 0;
  background-color: green;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}


.flexb{
	display: flex;
}


footer {
	background-color: #eef8ff;
}


@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.imgsize {
	height: 78%;
    width: 87%;
    margin-left: 3px;
}

.bgrwh {
	background-color: white;
}


.specbod {
	background-color: white;
}

.hstory {
	background-image: url(img/tarihce_header.jpeg);
		background-repeat:repeat-y;

}


.bgr {
	background-image: url("");
	background-size: 200%;
	background-repeat: no-repeat;
}

.wbg {
	border: 2px solid green;
	background-color: green;
	height: 30px;
}

.fx {
	display: flex;
	justify-content: flex-end;
	flex-basis: 90%;
}



.footer {
	margin-top: 100px;
}
.yasarLogo {
	flex-basis: 50%;
}

.bran ul b {
	font-size: 21px;
}

.bran ul li {
	padding: 10px;
}

.bran ul li > a:hover {
	color: green;
}

.imagi {
	display: flex;
	flex-basis: 100%;
	height: 300px;
	justify-content: center;
}

.milky {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	height: 1200px;
	justify-content: space-evenly;
}

.milky1 {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	height: 300px;
	justify-content: space-evenly;
}

.milky1 a {
	color: black;
}

.milky2 {
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	justify-content: space-evenly;
}

.milky2 a {
	color: black;
}


.milky a {
	color: black;

}


.boxx:nth-child(odd) {
	animation: anmo 1000ms linear 400ms both;
}

.boxx:nth-child(even) {
	animation: anmo 1000ms linear 500ms both;
}

.opisanie {
	display: flex;
	flex-wrap: wrap;
}

.copyright p {color: black; font-size: 13px;}

.copyright {
	flex-basis: 60%;
}

.ftr {
	display: flex;
	height: 140px;
	width: 100%;
	background-color: #356b03;
	align-items: center;
	justify-content: space-around;
}


.brands {
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}

.brands__item img {
	width: 50%;
    height: 50%;
}

.brands__item {
	padding: calc(10vw / var(--resizer)* 100);
    border: calc(1vw / var(--resizer)* 100) solid #E5E6E8;
    border-radius: calc(8vw / var(--resizer)* 100);
	flex-basis: 25%;
    height: 200px;
    gap: 5px;
    display: flex;
  
    justify-content: center;
    align-items: center;

}

.brands a {
	flex-basis: 25%;
}

.brands a:hover > div {
	transition: 0.5s;
	border-color: #00ff11f8;
	border-width: 5px;
}





.boxx{
	flex-wrap: wrap;
	height: 163px;
	width: 27%;
	position: relative;
	background-color:  #f5f5f5;
	border-radius: 1.2rem;
	overflow: hidden;
	text-align: center;
}

#videoModal {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

z-index: 9999;
}
#videoContainer {
position: relative;
width: 80%;
max-width: 600px;
margin: 0 auto;


}


.fadeOut {
	animation: fadeOut 0.5s ease-in-out;
}




@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}


.boxx img {
	width: 60%;
	height: 84%;
}


#closeBtn {
	margin-left: 42%;
}

.modal-open:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}

.specimg {
	height: 384px;
	width: 29.3%;
	position: relative;
	border: 7px solid #096719;
}



.lang a:hover{
	color: black;
}

.



.specimg a:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; }

.specimg a:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(icon-path); opacity: 0; }

.specimg a:hover:before, .specimg a:hover:after {opacity: 1;}



.boxx a:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; }

.boxx a:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(icon-path); opacity: 0; }

.boxx a:hover:before, .boxx a:hover:after {opacity: 1;}





.boxy {
	display: flex;
	height: 500px;
	justify-content: flex-end;
    align-items: center;
    margin-top: 5%	;
}
.boxter {
	display: flex;
	flex-basis: 50%;
	flex-wrap: wrap;
	justify-content: space-evenly
}
.box {
	display: flex;
	background: linear-gradient(180deg, rgba(43,223,13,1) 13%, rgba(12,62,3,1) 100%);
	width: 265px;
	height: 195px;
	margin: 10px 0px;
	align-items: center;
	border-radius: 8%;
	box-shadow: -3px 7px 11px #333333;

}

.dnone {
	display: none;
}

.box p {
	color: white;
}


div.fx > .icons li a:hover {
	color: black;
}

.icons {
	display: flex;
	width: 136px;
	justify-content: space-evenly;
}


h1 {
	font-size: calc(35vw/var(--resizer) * 100)
}

.cont {
	width: 1200px;
	margin: 0 auto;
}

.tr a {
	color: white;
}



.tr {
	width: 50%;
	margin: auto;
	padding: calc(100vw / var(--resizer)* 100);
	display: flex;
	flex-wrap: wrap;
}

.logo {
	display: flex;
	justify-content: center;
	animation: lg 300ms linear 400ms both;
}


.nav {
	animation: lg 300ms linear 400ms both;
}

.sli {
	margin-top: 200px!important;
	margin-bottom: 200px;
}


.boxter a:hover p {
	color: black;
}
.bgrn {
	background-color: green;
	height: 7px;
	width: 217px;
}

.tr a:hover {
	color: green;
}

.jsblock {
    padding: 100px 0px;
}

.prod1 {
	justify-content: space-around;
    flex-basis: 75%;
}
.pict {
	width: 50%;
}

.pict a:hover {
	opacity: 0.8;
}

.uptext {
	text-align: center;
}

.phone a {
	text-transform: none;
}



.hdr > .bgrn {
    background-color: rgb(36, 182, 40);
    margin: 20px auto;
}


.uptext > .bgrn {
	background-color: #24b628;
	margin: 20px auto;
}

.pict img {
	width: 50%;
	margin-left: 125px;
}

.data {
	flex-basis: 42%;
	background-color: white;
	border: 1px solid black;
}



.nav li {

    color: #777;
    margin-left: 20px;
    padding: 10px;
}

.bgrl {
    border: 2px solid rgb(36 182 40);
    color: #24b628;
    background-color: transparent;
}

.infa {
	font-weight: normal;
    font-size: 18px;
}

.prod1 {
	display: flex;
}


.cost-flex div {
	width: 50%;
}


.brand-nav > .active {
    background-color: rgb(36 182 40)!important;
    font-weight: bold;
}

.cost-flex {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.produci {
	background-color: rgb(36 182 40);
    height: 53px;
    line-height: 53px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 900;
}

ul.brand-nav li {
		cursor: pointer;
    background-color: #e3e2e2;
    margin-bottom: 1px;
    position: relative;
    transition: 0.2s;
    padding: 15px 0px 15px 15px;
}

.brand-nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	list-style: none;
	flex-basis: 25%;
}

.select-brand {
	
	border: 2px solid #efe9e9;
	height: 43px;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.specimg:nth-child(2){
	border: 7px solid #00b2ec;
}
.specimg:nth-child(3){
	border: 7px solid #e11718;
}



.img {
	width: 31.3%;
	position: relative;
	border: 7px solid #096719;
}




.img:nth-child(2){
	border: 7px solid #00b2ec;
}
.img:nth-child(3){
	border: 7px solid #e11718;
}


.title1, .title2, .title3 {
	position: absolute;
	top: 12px;
	color:#fff;
	padding: 10px;
	font-size: 17px;
	margin: 10px;
	right: 20px;
	font-weight: bold;
}

.title1{
	background-color: green;
}
.title2{
	background-color: #00b2ec;
}
.title3{
	background-color: red;
}
.stars {
	font-size: 27px;
	margin-bottom: 10px;
}

.review {
    font-size: 24px;
    line-height: 1.7;
}

.pict-container img {
	width: calc(245vw / var(--resizer) * 100);
}
.big {
	font-size: 36px;
}

.author {
    font-size: 18px;
    font-weight: 900;
    color: #ffbf00;
    margin-top: 10px;
    text-align: center;
}

.imge {
	width: 100%;
	height: 100%;
}
.urn {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.urn h1 {
	color: green;
}
@media (max-width: 767px) {
    .swiper-wrapper {
        flex-direction: column; /* Вертикальное направление слайдов */
        animation: scroll-vertical 20s linear infinite; /* Вертикальная анимация */
    }

    @keyframes scroll-vertical {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }

    .swiper-slide {
        height: 33.33%; /* Высота слайда для отображения 3 слайдов на экране */
        width: 100%; /* Ширина слайда на всю ширину экрана */
        flex-shrink: 0;
    }
}
@keyframes lg {
	0% {filter: opacity(0%); transform: scale(0);}
	50% {filter: opacity(50%); transform: scale(0.5);}
	70%{filter: opacity(70%); transform: scale(1);}
}

.menu {
	width: 100%;
	animation: lg 500ms linear 400ms both;
}
.lang {
	display: flex;
	flex-basis: 14%;
	justify-content: space-evenly;
}

.cs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav.wbg {
	align-items: center;
}

ol, ul {list-style: none;}

ul.nav a:hover {color: rgb(36 182 40);}

ul.nav > li:hover ul.sub-menu{display: block; position: absolute; margin-top: 15px; left: 0px; min-width: 150px; max-width: 250px; padding-top: 20px; z-index: 5; margin: 0px auto;}

ul.nav li {position: relative;}

.nav{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
	.brand-data-select{
		display: none!important;
	}

.select-brand {
	display: none!important;
}


.select-vehicle {
    border: 2px solid #efe9e9;
    height: 43px;
    position: relative;
    width: 100%;
    display: none;
}



ul.sub-menu {
	display: none;
}

.fixed {
	position: fixed;
	width: 100%;
}

.logo {
	margin: 10px 0px;
}
.logo img {
	opacity: 85%;
}
.logo img:hover {
	opacity: 100%;

}

.greenicon a:hover{
	color: green;
}

.burger, .off {display: none;}

ul.nav li > ul.sub-menu li:nth-child(1) {birds}
ul.nav li > ul.sub-menu li:nth-child(2) {animation: birds 400ms linear 400ms both;}
ul.nav li > ul.sub-menu li:nth-child(3) {animation: birds 400ms linear 500ms both;}
ul.nav li > ul.sub-menu li:nth-child(4) {animation: birds 400ms linear 600ms both;}
ul.nav li > ul.sub-menu li:nth-child(5) {animation: birds 400ms linear 700ms both;}
ul.nav li > ul.sub-menu li:nth-child(6) {animation: birds 400ms linear 800ms both;}
ul.nav li > ul.sub-menu li:nth-child(7) {animation: birds 400ms linear 900ms both;}
ul.nav li > ul.sub-menu li:nth-child(8) {animation: birds 400ms linear 1000ms both;}
ul.nav li > ul.sub-menu li:nth-child(9) {animation: birds 400ms linear 1100ms both;}
ul.nav li > ul.sub-menu li:nth-child(10) {animation: birds 400ms linear 1200ms both;}




.brand-data-select {
    border: none;
    font-size: 16px;
    width: 100%;
    background-image: none;
    background: #fff;
    padding: 1px 10px;
    height: 39px;
}

.brand-data-select:after {
    content: '';
    background: #ffffff url(../img/dropdown-icon.png) no-repeat 5px 18px;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 39px;
    position: absolute;
    pointer-events: none;
}


@keyframes birds{
	 
	0%{transform: scale(0); filter: opacity(0%);}
	70%{transform: scale(2); filter: opacity(70%);}
}


@media(min-width: 1000px){
	#bigtext {
		height: calc(662vw / var(--resizer) * 100);
	}
}

@media(max-width: 1200px) {
	.cont {
		width: 95%;
	}

}

@media(max-width: 1116px) {
	.boxter {
		flex-basis: 55%;
	}
}
@media (max-width: 820px) {

	.tr > h1 {
		font-size: 1.5em;
	}

	.brands {
		flex-wrap: wrap;
	}


	.data {
		flex-basis: 100%;
		margin-top: 15px;
	}

	.prod1 {
		flex-basis: 100%;
		flex-wrap: wrap;
	}




	.pict {
		width: 70%;
		margin-top: 3%;
	}

	.brand-data-select {
		display: block!important;
	}

	.select-brand {
		display: block!important;
	}
	.boxter{ flex-basis:80%;
	}
	.bgr {
		background-size: 250%;
	}
	.brand-nav {
		display: none!important;
	}
}


@media(max-width: 768px) {

	.swiper {
		display: none!important;
	}


	.bigtext {
		height: 100%;
	}

	.cs {
		justify-content: center;
	}

	.yasarLogo {
		margin: 0 auto;
	}



		.boxter {
	flex-basis: 100%;
}


.bgr {
	background-size: 200%;
}

}

@media screen and (max-width: 600px) {

	.brands__item {
		flex-basis: 100%;
	}


	.brands a {
		flex-basis: 100%;
	}

.basis__header {
	flex-basis: 100%;
}
	
}

@media(max-width: 500px){

	header {
		width: 100%;
	}
	.logo {
		display: none;
	}
	.bran {
		text-align: center;
	}

	.pict img {
		margin-left: 50px;
	}

	header {
		position: fixed;
	}



	#closeBtn {
	margin-left: 12px;
}
	.milky{
		height: auto;
	}
	.milky2{
		height: auto;
	}
	.boxx {
		flex-basis: 100%;
		position: relative;
		margin-top: 10px;
	}


	.specimg {
	position: relative;
	width: 100%;
	height: 300px;
}

	.wbg {
	border: 2px solid green;
	background-color: green;
	height: auto;
}
	.boxy {
		position: relative;
	}
	.cont {
		position: relative;
	}
	.img {
		width: 100%;
		position: relative;
	}

	.urn {
		margin-top: 367px;
		position: relative;
	}




	.boxy {
		display: block;
	}

	.box {
		height: 195px;
	}
	.burger {
		text-align: center;
	}
	ul.nav {
		flex-direction: column;
		text-align: center;
	}

	.burger #Nikita {display: none;}
	.burger.OnOff #Mac {display: none;}
	.burger.OnOff #Nikita {display: block;}
	.men {width: 100%; display: none!important;}
	.off, .burger {display:block;}
	ul.nav {justify-content: space-evenly;}
	.off, .burger {display:block;}
	.men.on {display: block!important;
	animation:slow-menu 2s both; height: auto;}
	
	.men.on ul.nav, .men.anime ul.nav {flex-direction: column;
	text-align: center; position: relative;}
	ul.nav li > ul.sub-menu {
		padding: 10px;
	}

	.men.anime {animation:slow-menu 2s both; display: block; position: relative;}

@keyframes anime {
	0%{transform: scale(1); filter: opacity(100%);}
	50%{transform: scale(0.5); filter: opacity(50%);}
	100%{transform: scale(0); filter: opacity(0%);}
}



	.cont {
		flex-wrap: wrap;
	}
	
	.men.anime > ul.nav li:nth-child(1) {animation: birds 500ms linear 300ms both;}
.men.anime > ul.nav li:nth-child(2) {animation: birds 500ms linear 400ms both;}
.men.anime > ul.nav li:nth-child(3) {animation: birds 500ms linear 500ms both;}
.men.anime > ul.nav li:nth-child(4) {animation: birds 500ms linear 600ms both;}
.men.anime > ul.nav li:nth-child(5) {animation: birds 500ms linear 700ms both;}
.men.anime > ul.nav li:nth-child(6) {animation: birds 500ms linear 800ms both;}
.men.anime > ul.nav li:nth-child(7) {animation: birds 500ms linear 900ms both;}

.men.on.anime > ul.nav li:nth-child(7) {animation: anime 500ms linear 300ms both;}
.men.on.anime > ul.nav li:nth-child(6) {animation: anime 500ms linear 400ms both;}
.men.on.anime > ul.nav li:nth-child(5) {animation: anime 500ms linear 500ms both;}
.men.on.anime > ul.nav li:nth-child(4) {animation: anime 500ms linear 600ms both;}
.men.on.anime > ul.nav li:nth-child(3) {animation: anime 500ms linear 700ms both;}
.men.on.anime > ul.nav li:nth-child(2) {animation: anime 500ms linear 800ms both;}
.men.on.anime > ul.nav li:nth-child(1) {animation: anime 500ms linear 900ms both;}


ul.nav > li:hover ul.sub-menu {position: relative;}

.fx {justify-content: flex-start; width: 425px;};

}